h1 {
  color: blue;

}


h2 {
  color: green;

}


/*only do this to make the blog posts bigger text*/
/*html {
  font-size: 30px;
}*/


button {
  color: yellow;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
}

button:hover {
  color: red;
  background-color: yellow;
  cursor: pointer;
}

#points {
  font-size: 40px;
  font-weight: bold;
  font-family: impact;
}

.hide {
  display: none;
}

#input {

  height: 35px;
  border-width: 2px;
  border-color: blue;
  font-size: 25px;
  color: green;
  font-family: impact;
  width: 175px;
}

#add {
  color: blue;
  font-size: 40px;
  font-family: arial;
}


.row {
  height: 33vh;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}

.box {
  border: solid;
  border-width: 4px;
  border-color: darkgreen;
  width: 150px;
  height: 150px;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  margin: 20px;
  display: flex;
  color: crimson;
  font-size: 40px;

}

.boxpage2 {
  border-color: darkblue;
  background-color: lightgreen;
  font-weight: bold;
  color: darkorange;
}

#grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

#page1, #page2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#open {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  font-size: 50px;
}
#dropdown {

  margin-left: -150px;
  background-color: black;
  position: absolute;
  width: 170px;
  height: 200px;
  border-radius: 10px;
  padding-left: 30px;
 

}

.moveright {

  left: 120px;
}


#q4container {

  margin: 0;
  padding: 0;
}

.abox {
  margin-bottom: 60px;
  width: 100px;
  height: 100px;
  background-color: green;
}

.firstani {
  margin-left: 400px;
  background-color: red;

}

.one, .two, .three {
  transition: 1s;
}

.secondani {
  width: 300px;
}

.fourthani {
  position: relative;
  animation: square 2s;
}

@keyframes square {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 100px;
    top: 0px;
    background-color: blue;
  }
  50% {
    left: 100px;
    top: 100px;
    background-color: purple;
  }

  75% {
    left: 0px;
    top: 100px;
    background-color: orange;
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: green;
  }
}